/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */
/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
html {
  font-size: 62.5%;
}

/* line 7, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
body {
  background: white;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  color: #222222;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Links ---------------------- */
/* line 11, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
a img {
  border: none;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;
}

/* line 13, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
a:hover {
  color: #2795b6;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
a:focus {
  color: #2795b6;
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
p a, p a:visited {
  line-height: inherit;
}

/* Misc ---------------------- */
/* line 19, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
.left {
  float: left;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
.right {
  float: right;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
.text-left {
  text-align: left;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
.text-right {
  text-align: right;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
.text-center {
  text-align: center;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
.hide {
  display: none;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
.hide-override {
  display: none !important;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
.highlight {
  background: #ffff99;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
#googlemap img, object, embed {
  max-width: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
#map_canvas embed {
  max-width: none;
}

/* line 31, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
#map_canvas img {
  max-width: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
#map_canvas object {
  max-width: none;
}

/* Reset for strange margins by default on <figure> elements */
/* line 35, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/common/_globals.scss */
figure {
  margin: 0;
}

/* The Grid ---------------------- */
/* line 3, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row {
  width: 984px;
  max-width: 100%;
  min-width: 768px;
  margin: 0 auto;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -7.5px;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row.collapse .column, .row.collapse .columns {
  padding: 0;
}
/* line 9, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -7.5px;
}
/* line 10, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .row.collapse {
  margin: 0;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 7.5px;
  position: relative;
}
/* line 15, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.column.centered, .columns.centered {
  float: none;
  margin: 0 auto;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
[class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
[class*="column"] + [class*="column"].end {
  float: left;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.one, .row .one {
  width: 5.88235%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.two, .row .two {
  width: 11.76471%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.three, .row .three {
  width: 17.64706%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.four, .row .four {
  width: 23.52941%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.five, .row .five {
  width: 29.41176%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.six, .row .six {
  width: 35.29412%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.seven, .row .seven {
  width: 41.17647%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.eight, .row .eight {
  width: 47.05882%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.nine, .row .nine {
  width: 52.94118%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.ten, .row .ten {
  width: 58.82353%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.eleven, .row .eleven {
  width: 64.70588%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.twelve, .row .twelve {
  width: 70.58824%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.thirteen, .row .thirteen {
  width: 76.47059%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.fourteen, .row .fourteen {
  width: 82.35294%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.fifteen, .row .fifteen {
  width: 88.23529%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.sixteen, .row .sixteen {
  width: 94.11765%;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.seventeen, .row .seventeen {
  width: 100%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-one {
  margin-left: 5.88235%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-two {
  margin-left: 11.76471%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-three {
  margin-left: 17.64706%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-four {
  margin-left: 23.52941%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-five {
  margin-left: 29.41176%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-six {
  margin-left: 35.29412%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-seven {
  margin-left: 41.17647%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-eight {
  margin-left: 47.05882%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-nine {
  margin-left: 52.94118%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-ten {
  margin-left: 58.82353%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-eleven {
  margin-left: 64.70588%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-twelve {
  margin-left: 70.58824%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-thirteen {
  margin-left: 76.47059%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-fourteen {
  margin-left: 82.35294%;
}

/* line 36, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row .offset-by-fifteen {
  margin-left: 88.23529%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-two {
  left: 11.76471%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-two {
  right: 11.76471%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-three {
  left: 17.64706%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-three {
  right: 17.64706%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-four {
  left: 23.52941%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-four {
  right: 23.52941%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-five {
  left: 29.41176%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-five {
  right: 29.41176%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-six {
  left: 35.29412%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-six {
  right: 35.29412%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-seven {
  left: 41.17647%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-seven {
  right: 41.17647%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-eight {
  left: 47.05882%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-eight {
  right: 47.05882%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-nine {
  left: 52.94118%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-nine {
  right: 52.94118%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-ten {
  left: 58.82353%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-ten {
  right: 58.82353%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-eleven {
  left: 64.70588%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-eleven {
  right: 64.70588%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-twelve {
  left: 70.58824%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-twelve {
  right: 70.58824%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-thirteen {
  left: 76.47059%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-thirteen {
  right: 76.47059%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-fourteen {
  left: 82.35294%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-fourteen {
  right: 82.35294%;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.push-fifteen {
  left: 88.23529%;
}

/* line 43, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.pull-fifteen {
  right: 88.23529%;
}

/* line 46, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
img, object, embed {
  max-width: 100%;
  height: auto;
}

/* line 47, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
object, embed {
  height: 100%;
}

/* line 48, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 49, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
#map_canvas img, .map_canvas img {
  max-width: none!important;
}

/* Nicolas Gallagher's micro clearfix */
/* line 52, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.row {
  *zoom: 1;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/mixins/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/mixins/_clearfix.scss */
.row:after {
  clear: both;
}

/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid {
  display: block;
  overflow: hidden;
  padding: 0;
}
/* line 69, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid > li {
  display: block;
  height: auto;
  float: left;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.one-up {
  margin: 0;
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.one-up > li {
  width: 100%;
  padding: 0 0 15px;
  padding: 0 8px 8px;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.two-up {
  margin: 0 -15px;
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.two-up > li {
  width: 50%;
  padding: 0 15px 15px;
  padding: 0 8px 8px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.two-up > li:nth-child(2n+1) {
  clear: both;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.three-up {
  margin: 0 -12px;
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.three-up > li {
  width: 33.33333%;
  padding: 0 12px 12px;
  padding: 0 8px 8px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.three-up > li:nth-child(3n+1) {
  clear: both;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.four-up {
  margin: 0 -10px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.four-up > li {
  width: 25%;
  padding: 0 10px 10px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.four-up > li:nth-child(4n+1) {
  clear: both;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.five-up {
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.five-up > li {
  width: 20%;
  padding: 0 8px 8px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.five-up > li:nth-child(5n+1) {
  clear: both;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.six-up {
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.six-up > li {
  width: 16.66667%;
  padding: 0 8px 8px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.six-up > li:nth-child(6n+1) {
  clear: both;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.seven-up {
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.seven-up > li {
  width: 14.28571%;
  padding: 0 8px 8px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.seven-up > li:nth-child(7n+1) {
  clear: both;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.eight-up {
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.eight-up > li {
  width: 12.5%;
  padding: 0 8px 8px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.eight-up > li:nth-child(8n+1) {
  clear: both;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.nine-up {
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.nine-up > li {
  width: 11.11111%;
  padding: 0 8px 8px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.nine-up > li:nth-child(9n+1) {
  clear: both;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.ten-up {
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.ten-up > li {
  width: 10%;
  padding: 0 8px 8px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.ten-up > li:nth-child(10n+1) {
  clear: both;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.eleven-up {
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.eleven-up > li {
  width: 9.09091%;
  padding: 0 8px 8px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.eleven-up > li:nth-child(11n+1) {
  clear: both;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.twelve-up {
  margin: 0 -8px;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.twelve-up > li {
  width: 8.33333%;
  padding: 0 8px 8px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p327/gems/zurb-foundation-3.2.3/scss/foundation/components/_grid.scss */
.block-grid.twelve-up > li:nth-child(12n+1) {
  clear: both;
}

/* line 1, ../sass/main.scss */
body {
  margin: 3px auto;
  padding: 18px;
}

/* line 6, ../sass/main.scss */
h1, h2, p {
  font-size: 1em;
  line-height: 1.35;
  margin: 0;
  font-weight: normal;
}

/* line 13, ../sass/main.scss */
h1, h2 {
  font-weight: bold;
}

/* line 17, ../sass/main.scss */
.main {
  border: 20px solid white;
  box-shadow: 2px 2px 25px rgba(50, 50, 50, 0.75);
  padding: 20px;
  background: url("images/bgnoise.png") #fffff2 repeat scroll;
}

/* line 24, ../sass/main.scss */
.period, .heading {
  text-align: right;
}

/* line 28, ../sass/main.scss */
p, ul {
  font-family: Palatino, Georgia, "Times New Roman", serif;
}

/* line 32, ../sass/main.scss */
li {
  padding-bottom: 4px;
}

/* line 36, ../sass/main.scss */
p {
  padding-bottom: 20px;
}

/* line 40, ../sass/main.scss */
ul:first-child {
  padding-left: 17px;
}

/* line 44, ../sass/main.scss */
.company {
  float: left;
}

@media only screen and (max-width: 767px) {
  /* line 49, ../sass/main.scss */
  .heading {
    text-align: left;
  }
}
@media all and (max-width: 520px) {
  /* line 55, ../sass/main.scss */
  body {
    padding: 10px;
    margin: 0 auto;
  }

  /* line 60, ../sass/main.scss */
  h1, h2, p {
    font-size: .90em;
  }

  /* line 64, ../sass/main.scss */
  .company {
    float: none;
  }

  /* line 67, ../sass/main.scss */
  .period, .heading {
    text-align: left;
  }

  /* line 71, ../sass/main.scss */
  .main {
    border-width: 10px;
    padding: 10px;
  }

  /* line 76, ../sass/main.scss */
  ul {
    margin: 0;
  }
}
