/* line 1, ../sass/main.scss */
body {
  margin: 3px auto;
  padding: 18px;
}

/* line 6, ../sass/main.scss */
h1, h2, p {
  font-size: 1em;
  line-height: 1.35;
  margin: 0;
  font-weight: normal;
}

/* line 13, ../sass/main.scss */
h1, h2 {
  font-weight: bold;
}

/* line 17, ../sass/main.scss */
.main {
  border: 20px solid white;
  box-shadow: 2px 2px 25px rgba(50, 50, 50, 0.75);
  padding: 20px;
  background: url("images/bgnoise.png") #fffff2 repeat scroll;
}

/* line 24, ../sass/main.scss */
.period, .heading {
  text-align: right;
}

/* line 28, ../sass/main.scss */
p, ul {
  font-family: Palatino, Georgia, "Times New Roman", serif;
}

/* line 32, ../sass/main.scss */
li {
  padding-bottom: 4px;
}

/* line 36, ../sass/main.scss */
p {
  padding-bottom: 20px;
}

/* line 40, ../sass/main.scss */
ul:first-child {
  padding-left: 17px;
}

/* line 44, ../sass/main.scss */
.company {
  float: left;
}

@media only screen and (max-width: 767px) {
  /* line 49, ../sass/main.scss */
  .heading {
    text-align: left;
  }
}
@media all and (max-width: 520px) {
  /* line 55, ../sass/main.scss */
  body {
    padding: 10px;
    margin: 0 auto;
  }

  /* line 60, ../sass/main.scss */
  h1, h2, p {
    font-size: .90em;
  }

  /* line 64, ../sass/main.scss */
  .company {
    float: none;
  }

  /* line 67, ../sass/main.scss */
  .period, .heading {
    text-align: left;
  }

  /* line 71, ../sass/main.scss */
  .main {
    border-width: 10px;
    padding: 10px;
  }

  /* line 76, ../sass/main.scss */
  ul {
    margin: 0;
  }
}
